In [ ]:
import pandas as pd
us= pd.read_csv('USvideos.csv')
uk= pd.read_csv('GBvideos.csv')
india= pd.read_csv('INvideos.csv')

In [ ]:
us["country"]="US"
uk["country"]="UK"
india["country"]="India"
df = pd.concat([us, india, uk], ignore_index=True)
print(df.shape)

(117217, 17)

In [ ]:
df['trending_date'].head(10)

0    17.14.11
1    17.14.11
2    17.14.11
3    17.14.11
4    17.14.11
5    17.14.11
6    17.14.11
7    17.14.11
8    17.14.11
9    17.14.11
Name: trending_date, dtype: object

In [ ]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')

In [ ]:
df['trending_date'].min(), df['trending_date'].max()

(Timestamp('2017-11-14 00:00:00'), Timestamp('2018-06-14 00:00:00'))

In [ ]:
df['publish_time'].min(), df['publish_time'].max()

('2006-07-23T08:24:11.000Z', '2018-06-14T01:31:53.000Z')

In [ ]:
df = df.drop_duplicates()
df.shape

(112735, 17)

In [ ]:
(df['views'] == 0).sum()

np.int64(0)

In [ ]:
df['engagement_rate'] = (df['likes'] + df['comment_count']) / df['views']
df['like_ratio'] = df['likes'] / df['views']
df['comment_ratio'] = df['comment_count'] / df['views']

In [ ]:
df['publish_time'].dtype

dtype('O')

In [ ]:
df['publish_time'] = pd.to_datetime(df['publish_time'])
df['publish_time'].dtype

datetime64[ns, UTC]

In [ ]:
df['publish_hour'] = df['publish_time'].dt.hour
df['publish_day'] = df['publish_time'].dt.day_name()
df['publish_month'] = df['publish_time'].dt.month

In [ ]:
df[['engagement_rate','like_ratio','comment_ratio']].describe()

       engagement_rate     like_ratio  comment_ratio
count    112735.000000  112735.000000  112735.000000
mean          0.034365       0.030520       0.003845
std           0.032104       0.028387       0.006502
min           0.000000       0.000000       0.000000
25%           0.011436       0.009571       0.000941
50%           0.026015       0.023122       0.002242
75%           0.047218       0.042504       0.004559
max           0.774282       0.381917       0.392365

In [ ]:

df.sort_values('engagement_rate', ascending=False).head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,ratings_disabled,video_error_or_removed,description,country,engagement_rate,like_ratio,comment_ratio,publish_hour,publish_day,publish_month
75980,TyYV_h2bXM0,2018-06-02,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",840727,321088,1852,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.774282,0.381917,0.392365,6,Friday,6
57561,uKmx6OnbuN0,2018-02-13,Oneplus 5T Lava Red Unboxing and Giveaway ðŸ”¥ðŸ”¥ðŸ”¥ ...,Technical Guruji,28,2018-02-12 08:23:37+00:00,"oneplus 5t|""oneplus""|""5t""|""oneplus 5t unboxing...",335058,122284,1133,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.689328,0.364964,0.324365,8,Monday,2
76178,TyYV_h2bXM0,2018-06-03,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",1049339,355742,2257,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.688777,0.339015,0.349762,6,Friday,6
76394,TyYV_h2bXM0,2018-06-04,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",1158291,370533,2519,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.650284,0.319896,0.330388,6,Friday,6
47076,1hHvH8xQDKA,2017-12-16,OnePlus 5T Star Wars Limited Edition Unboxing ...,Technical Guruji,28,2017-12-15 07:28:33+00:00,"oneplus 5t star wars edition|""oneplus 5t star ...",446587,148132,1577,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.626919,0.331698,0.295221,7,Friday,12

In [ ]:
df.groupby('country')['views'].mean().sort_values(ascending=False)

country
UK       5.911293e+06
US       2.360678e+06
India    9.963425e+05
Name: views, dtype: float64

In [ ]:
df.groupby('country')['engagement_rate'].mean().sort_values(ascending=False)

country
US       0.038870
UK       0.038040
India    0.024493
Name: engagement_rate, dtype: float64

In [ ]:
df.groupby('country')['engagement_rate'].median().sort_values(ascending=False)

country
US       0.032028
UK       0.030173
India    0.010678
Name: engagement_rate, dtype: float64

In [ ]:
df[df['country']=='India']['engagement_rate'].describe()

count    33089.000000
mean         0.024493
std          0.033783
min          0.000000
25%          0.004815
50%          0.010678
75%          0.031327
max          0.774282
Name: engagement_rate, dtype: float64

In [ ]:
df[(df['country']=='India') & (df['engagement_rate'] > 0.5)]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,ratings_disabled,video_error_or_removed,description,country,engagement_rate,like_ratio,comment_ratio,publish_hour,publish_day,publish_month
47076,1hHvH8xQDKA,2017-12-16,OnePlus 5T Star Wars Limited Edition Unboxing ...,Technical Guruji,28,2017-12-15 07:28:33+00:00,"oneplus 5t star wars edition|""oneplus 5t star ...",446587,148132,1577,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.626919,0.331698,0.295221,7,Friday,12
47267,1hHvH8xQDKA,2017-12-17,OnePlus 5T Star Wars Limited Edition Unboxing ...,Technical Guruji,28,2017-12-15 07:28:33+00:00,"oneplus 5t star wars edition|""oneplus 5t star ...",559686,165108,1873,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.555422,0.295001,0.260421,7,Friday,12
47500,1hHvH8xQDKA,2017-12-18,OnePlus 5T Star Wars Limited Edition Unboxing ...,Technical Guruji,28,2017-12-15 07:28:33+00:00,"oneplus 5t star wars edition|""oneplus 5t star ...",611786,173149,2000,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.533190,0.283022,0.250168,7,Friday,12
57561,uKmx6OnbuN0,2018-02-13,Oneplus 5T Lava Red Unboxing and Giveaway ðŸ”¥ðŸ”¥ðŸ”¥ ...,Technical Guruji,28,2018-02-12 08:23:37+00:00,"oneplus 5t|""oneplus""|""5t""|""oneplus 5t unboxing...",335058,122284,1133,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.689328,0.364964,0.324365,8,Monday,2
57799,uKmx6OnbuN0,2018-02-14,Oneplus 5T Lava Red Unboxing and Giveaway ðŸ”¥ðŸ”¥ðŸ”¥ ...,Technical Guruji,28,2018-02-12 08:23:37+00:00,"oneplus 5t|""oneplus""|""5t""|""oneplus 5t unboxing...",446879,131887,1254,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.560512,0.295129,0.265383,8,Monday,2
67006,GqCAVnvb3QA,2018-04-14,Samsung Galaxy S9 Top Features and Tips Tricks...,Technical Guruji,28,2018-04-12 08:54:34+00:00,"samsung galaxy s9+ unboxing|""samsung galaxy s9...",921731,252602,2006,...,False,False,"Namaskaar Dosto, yeh ek bahut hi khaas video h...",India,0.594253,0.274052,0.320201,8,Thursday,4
75980,TyYV_h2bXM0,2018-06-02,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",840727,321088,1852,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.774282,0.381917,0.392365,6,Friday,6
76178,TyYV_h2bXM0,2018-06-03,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",1049339,355742,2257,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.688777,0.339015,0.349762,6,Friday,6
76394,TyYV_h2bXM0,2018-06-04,OnePlus 6 Top Features and GIVEAWAY ðŸ”¥- OnePlus...,Technical Guruji,28,2018-06-01 06:57:12+00:00,"OnePlus 6|""OnePlus 6 Avengers Edition""|""Oneplu...",1158291,370533,2519,...,False,False,"Namaskaar Dosto, is video mein maine aapse One...",India,0.650284,0.319896,0.330388,6,Friday,6

In [ ]:
df = df.sort_values('trending_date')
df_video = df.drop_duplicates(subset=['video_id','country'], keep='last')

In [ ]:
df_video.shape

(25930, 23)

In [ ]:
df_video.groupby('country')['engagement_rate'].median()

country
India    0.008275
UK       0.026650
US       0.027527
Name: engagement_rate, dtype: float64

In [ ]:
df_video.groupby('country')['views'].median().sort_values(ascending=False)

country
UK       597620.0
US       518107.0
India    205488.0
Name: views, dtype: float64

In [ ]:
df_video.groupby(['country','category_id'])['views'].median().sort_values(ascending=False).head(15)

country  category_id
India    30             3862190.0
UK       10             2524744.0
India    15             2490776.0
         20             1978998.0
UK       43             1709880.0
US       20             1316002.0
UK       2              1207173.0
US       10             1096158.0
         1               910969.5
         23              790545.5
         43              765522.0
UK       23              707051.0
         24              633728.0
India    43              621739.0
US       24              606048.0
Name: views, dtype: float64

In [ ]:
df_video.groupby(['country','category_id'])['engagement_rate'].median().sort_values(ascending=False).head(15)

country  category_id
India    15             0.083384
         28             0.075905
         27             0.056205
UK       29             0.044872
US       26             0.043226
UK       27             0.042896
India    23             0.042236
UK       26             0.040875
US       10             0.038069
India    29             0.037818
US       27             0.037468
India    20             0.036427
US       20             0.035354
UK       22             0.034959
US       23             0.034027
Name: engagement_rate, dtype: float64

In [ ]:
df_video[df_video['country']=='India'].groupby('category_id')['engagement_rate'].median().sort_values(ascending=False)

category_id
15    0.083384
28    0.075905
27    0.056205
23    0.042236
29    0.037818
20    0.036427
19    0.021299
10    0.019004
1     0.015911
2     0.012296
26    0.011463
17    0.009361
30    0.009191
25    0.006592
22    0.006293
43    0.006055
24    0.005831
Name: engagement_rate, dtype: float64

In [ ]:
df_video.groupby('video_id')['country'].nunique().value_counts()

country
1    23467
2     1113
3       79
Name: count, dtype: int64

In [ ]:
df_video['country_count'] = df_video.groupby('video_id')['country'].transform('nunique')

df_video.groupby('country_count')['engagement_rate'].median()

/tmp/ipython-input-789810648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_video['country_count'] = df_video.groupby('video_id')['country'].transform('nunique')

country_count
1    0.012671
2    0.029372
3    0.022141
Name: engagement_rate, dtype: float64

In [ ]:
df_video.groupby('country_count')['views'].median()

country_count
1      242905.0
2     1540303.0
3    10031591.0
Name: views, dtype: float64

In [ ]:
df_video[df_video['country_count'] == 3]['category_id'].value_counts()

category_id
24    105
1      54
10     48
23     12
22      9
17      6
25      3
Name: count, dtype: int64

In [ ]:
df_video[df_video['country_count'] == 1]['category_id'].value_counts().head(10)

category_id
24    9363
25    3067
10    2229
22    1843
23    1651
26    1124
27    1057
17     900
1      854
28     621
Name: count, dtype: int64

In [ ]:
df_video['trending_month'] = df_video['trending_date'].dt.month

df_video.groupby(['country','trending_month'])['views'].median().unstack(0)

/tmp/ipython-input-1375062745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_video['trending_month'] = df_video['trending_date'].dt.month

country            India         UK         US
trending_month
1               184355.0   307473.0   306410.5
2               217352.0   501796.0   374279.5
3               234339.5   850660.0   636936.5
4               261079.5  1208568.0  1067802.0
5               267136.5  1586641.5  1317131.0
6               319070.0  1919068.0  1975764.0
11              113754.0   353434.5   271141.0
12              158690.0   304917.0   281216.5

In [ ]:
df_video.groupby(['country','trending_month'])['engagement_rate'].median().unstack(0)

country            India        UK        US
trending_month
1               0.008993  0.028100  0.026498
2               0.007651  0.025460  0.023224
3               0.007291  0.022631  0.027986
4               0.008382  0.021858  0.027779
5               0.009305  0.022828  0.025927
6               0.012163  0.024214  0.028098
11              0.008290  0.031555  0.029003
12              0.007610  0.032080  0.031405

In [ ]:
df_video.groupby(['country','publish_hour'])['engagement_rate'].median().unstack(0)

country          India        UK        US
publish_hour
0             0.003829  0.020702  0.024665
1             0.005760  0.020283  0.026257
2             0.006758  0.019128  0.020674
3             0.018821  0.020090  0.020624
4             0.009431  0.019551  0.021294
5             0.007294  0.019276  0.027453
6             0.008516  0.020673  0.017505
7             0.008019  0.015814  0.015358
8             0.010119  0.020047  0.018980
9             0.007423  0.043885  0.021386
10            0.009755  0.028204  0.018005
11            0.010626  0.020838  0.018571
12            0.012358  0.024249  0.022854
13            0.014446  0.022077  0.025162
14            0.010037  0.023404  0.027386
15            0.008330  0.031193  0.027584
16            0.006781  0.032136  0.031033
17            0.007116  0.030795  0.030200
18            0.007905  0.034059  0.032454
19            0.007077  0.034767  0.035926
20            0.005701  0.025093  0.029854
21            0.004092  0.028903  0.033019
22            0.005060  0.029357  0.033886
23            0.004265  0.023668  0.035383

In [ ]:
df_video.groupby(['country','publish_hour']).size().unstack(0)

country       India   UK   US
publish_hour
0               237  100  222
1               298   94  194
2               542  106  172
3               686   98  173
4               826  138  186
5               968  149  221
6               938   62  105
7               887   58  125
8               855  103  151
9               810  132   90
10              826   69   98
11              921   67  149
12             1027  109  204
13              992  168  328
14             1117  206  429
15              986  238  504
16             1031  246  577
17              764  275  529
18              370  194  433
19              254  188  311
20              175  139  327
21              205  125  296
22              288  120  292
23              304   88  235

In [ ]:
trend_duration = df.groupby(['video_id','country'])['trending_date'].nunique()
trend_duration.describe()

count    25930.000000
mean         4.323139
std          5.354463
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max        186.000000
Name: trending_date, dtype: float64

In [ ]:
df_video = df_video.merge(
    trend_duration.reset_index(name='trend_days'),
    on=['video_id','country']
)

In [ ]:
df_video.groupby('trend_days')['engagement_rate'].median().head(15)

trend_days
1     0.008169
2     0.009680
3     0.012609
4     0.017057
5     0.025042
6     0.028852
7     0.030098
8     0.029761
9     0.028761
10    0.029126
11    0.029361
12    0.030364
13    0.028186
14    0.028782
15    0.028482
Name: engagement_rate, dtype: float64

In [ ]:
final_df = df_video[[
    'video_id',
    'country',
    'category_id',
    'views',
    'likes',
    'comment_count',
    'engagement_rate',
    'publish_hour',
    'trending_month',
    'trend_days',
    'country_count'
]]

In [ ]:
final_df.to_csv("youtube_trending_final.csv", index=False)